{% extends 'layout-user.html' %}
{% block title %}
    <title>Home | Burst</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/home.css') }}">
{% endblock %}

{% block content %}
    <div class="page-content">

        <div class="post-textbox">
            <div class="icon-image">
                <!-- <img class="profile-pic" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/.png"> -->
            </div>

            <div class="textarea-control">
                <form>
                    <textarea class="post" placeholder="Type Something..."></textarea>
                </form>
            </div>
        </div>


        <div class="post-blog">
            <div class="icon-image">
                <img class="profile-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShbskPZUB-24LahOgK0GlRb4DCgtFnDDQifiq3DO5YkXaGfXrW">
            </div>

            <div class="post-content">
                <div class="post-background">
                    <a href="#" class="post-username">Arandak123</a>

                    <div class="post-image">
                        <img class="image-post" src="https://marcaesports-prod-images.imgix.net/2017/08/03114953/league-of-legends-crear-cuenta-1.jpg?fit=crop&fm=pjpg&h=383&w=680&wpsize=marcaesports_large">
                    </div>
                    
                    <div class="post-writing">
                        <a href=""><h3 class="title">A Quick Introduction to Farming</h3></a>
                        <p>Farming is an essential part of League of Legends and <a href="#">see more...</a></p>
                    </div>

                    <div class="line-separator"></div>

                    <div class="post-controls">
                        <ul class="controls">
                            <li class="element"><i class="material-icons large like">favorite_border</i></li>
                            <li class="element"><i class="material-icons large liked" style="display: none;">favorite</i></li>
                            <li class="element"><i class="material-icons large share">share</i></li>
                        </ul>
                    </div>

                </div>
            </div>
            
        </div>

        <div class="post-blog">
            <div class="icon-image">
                <img class="profile-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShbskPZUB-24LahOgK0GlRb4DCgtFnDDQifiq3DO5YkXaGfXrW">
            </div>

            <div class="post-content">
                <div class="post-background">
                    <a href="#" class="post-username">Salter3</a>

                    <div class="post-image">
                        <img class="image-post" src="https://images7.alphacoders.com/673/thumb-1920-673384.jpg">
                    </div>
                    
                    <div class="post-writing">
                        <a href=""><h3 class="title">Introduction to Lux</h3></a>
                        <p>Hello again and welcome to another guide wit <a href="#">see more...</a></p>
                    </div>

                    <div class="line-separator"></div>

                    <div class="post-controls">
                        <ul class="controls">
                            <li class="element"><a href=""><i class="material-icons large like">favorite_border</i></a></li>
                            <li class="element"><a href=""><i class="material-icons large liked" style="display: none;">favorite</i></a></li>
                            <li class="element"><a href=""><i class="material-icons large share">share</i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='../static/js/home.js') }}"></script>
{% endblock %}