{% extends 'layout-user.html' %}
{% block title %}
    <title>Home | Burst</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/home.css') }}">
{% endblock %}

{% block content %}
    <div class="banner">
        <div class="banner-content">
            <h1>Patch notes now available!</h1>
            <p>Patch notes for version 9.4 are now available, <a href="#">read more...</a></p>
        </div>
    </div>

    <div class="page-content">

        <div class="user-statistics">

            <div class="statistic-container">
                <div class="statistic-box">
                    <div class="statistic-box-container">
                        <div class="statistic-box-content">
                            <h2>3</h2>
                            <h5>Teams Created</h5>
                        </div>
                    </div>
                </div>

                <div class="statistic-box">
                    <div class="statistic-box-container">
                        <div class="statistic-box-content">
                            <h2>24</h2>
                            <h5>Accomplished Goals</h5>
                        </div>
                    </div>
                </div>

                <div class="statistic-box">
                    <div class="statistic-box-container">
                        <div class="statistic-box-content">
                            <h2>120</h2>
                            <h5>Minutes Read</h5>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="user_teams">

        </div>
    </div>

    <script src="{{ url_for('static', filename='../static/js/home.js') }}"></script>
{% endblock %}