{% extends 'layout.html' %}
{% block title %}
    <title>Burst</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/index.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content-1 mx-auto">
        <center>
            <img src="{{ url_for('static', filename='../static/images/Logo.png') }}" class="logo animated fadeIn">

            <form @submit="Validate()" method="POST" action="/" class="form-inline justify-content-md-center form animated fadeIn" id="form-search">
                <div class="form-group mb-12 forms">
                    <input class="form-control summoner-name" v-model="summoner_name" v-bind:class="{ animated: add_animate, jello: animate }" name="summoner-name" id="SummonerName" type="text" required placeholder="Search summoner" id="summoner_name" >
                </div>

                <div class="form-group mb-12 forms">
                    <select class="form-control region" v-model="region" v-bind:class="{ animated: add_animate, jello: animate }" id="Region" name="region" required>
                        <option value="" selected>Choose region</option>
                        <option value="na1">NA</option>
                        <option value="la1">LAN</option>
                        <option value="la2">LAS</option>
                        <option value="br1">BR</option>
                        <option value="eun1">EUNE</option>
                        <option value="euw1">EUW</option>
                        <option value="oc1">OCE</option>
                        <option value="ru">RU</option>
                        <option value="jp1">JP</option>
                    </select>
                </div>

                <button class="btn btn-primary btn-large" type="submit" v-on:click="Validate()">Search</button>
            </form>
            
            <div class="alert alert-danger flashes" role="alert" id="errorAlert" style="display: none;"></div>
        </center>
    </div>

    <div class="content-background">
        <div class="container-content-1">
            <div class="content">
                <h2>Coaching is hard</h2>

                <p class="right">Being a coach is hard. Burst will be your personal team coach. Wouldn't it be 
                cool to have a <a href="/signup">computer as a coach?</a></p>
            </div>
        </div>

        <div class="container-content-2">
            <div class="content">
                <h2>How does it works</h2>
                <p class="left">It's simple, it is just a computer analyzing data and telling you what to do.</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='../static/js/index.js') }}"></script>
{% endblock %}