body {
    width: 100%;
    height: 100%;
    background-color: #001011 !important;
    background: rgba(23,26,33,0.10);
    background: -moz-linear-gradient(top, rgba(23,26,33,0.10) 0%, rgba(23,26,33,0.87) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(23,26,33,0.10)), color-stop(100%, rgba(23,26,33,0.87)));
    background: -webkit-linear-gradient(top, rgba(23,26,33,0.10) 0%, rgba(23,26,33,0.87) 100%);
    background: -o-linear-gradient(top, rgba(23,26,33,0.10) 0%, rgba(23,26,33,0.87) 100%);
    background: -ms-linear-gradient(top, rgba(23,26,33,0.10) 0%, rgba(23,26,33,0.87) 100%);
    background: linear-gradient(to bottom, rgba(23,26,33,0.10) 0%, rgba(23,26,33,0.87) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171a21', endColorstr='#171a21', GradientType=0 );
}

.navbar {
    background-color: #171a21 !important;
}

.navbar-brand {
    font-size: 21px !important;
    padding-left: 10px;
    padding-top: 10px !important;
}

.nav-link {
    font-size: 15px !important;
    color: #931621 !important;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #006064;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
}

.my-float {
    margin-top: 22px;
    text-decoration: none;
    color: #fff;
}

.btn {
    background-color: #171a21 !important;
    border: none !important;
}

a {
    color: #931621 !important;
}