{% extends 'layout.html' %}
{% block title %}
    <title>Welcome to Goo-league!!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="content-1">
        <center>
            <form method="POST" action="/summoner" class="form-inline justify-content-md-center">
                <div class="form-group mb-12">
                    <input class="form-control summoner-name" type="text" placeholder="Search summoner" id="summoner_name" name="Summoner-name">
                </div>

                <div class="form-group mb-12">
                    <select name="Region" class="form-control">
                        <option value="" selected>Choose region</option>
                        <option value="na1">NA</option>
                        <option value="la1">LAN</option>
                        <option value="la2">LAS</option>
                        <option value="br1">BR</option>
                        <option value="eun1">EUNE</option>
                        <option value="euw1">EUW</option>
                        <option value="oc1">OCE</option>
                        <option value="ru">RU</option>
                        <option value="jp1">JP</option>
                    </select>
                </div>

                <button class="btn btn-primary btn-large" type="submit">Search</button>

                {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger flashes" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </form>
        </center>
    </div>
{% endblock %}